{% extends "base.html" %}
{% block title %}Play Connect4{% endblock %}

{% block content %}

<h1>It's play time</h1>
<script>
    var moves = [];
    var user;
    var turn;
    var COLUMNS = 7;
    var ROWS = 6;
    const RED = 0xff0000;
    const YELLOW = 0xffff00;
    const GREEN = 0x00ff00;
    const BLUE = 0x0000ff;
    var x_offset = -3
    var y_offset = -2

    var aspect_ratio = window.innerWidth / window.innerHeight
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera( 80, aspect_ratio, 0.1, 1000 );
    var raycaster = new THREE.Raycaster();
    var mouse = new THREE.Vector2();

    var light = new THREE.AmbientLight( 0x808080 ); 
    scene.add( light )

    var pointLight = new THREE.PointLight( 0xffffff, 1 );
    pointLight.position.set( 1, 1, 1 );
    scene.add( pointLight );

    var renderer = new THREE.WebGLRenderer({ alpha: true });
    renderer.setSize( window.innerWidth, window.innerHeight );
    document.body.appendChild( renderer.domElement );

    camera.position.z = 5;

    for ( i = 0; i < COLUMNS; i++ ) {
        x = i + x_offset;
        var column_geo = new THREE.BoxGeometry( 1, ROWS, 0.2, 1, ROWS );
        var column_mat = new THREE.MeshPhongMaterial( {
            color: BLUE,
            wireframe: true,
            wireframeLinewidth: 2
            });
        var frame_column = new THREE.Mesh( column_geo, column_mat )
        frame_column.position.x = x
        frame_column.position.y = 0.5
        frame_column.column = i
        scene.add(frame_column)
    }

    function position_coin(x, y, coin) {
        coin.position.x = x + x_offset;
        coin.position.y = y + y_offset;
    }

    function make_coin(player) {
        var colour
        if (player) {
            color = RED 
        } else {
            color = YELLOW
        }
        var geometry = new THREE.CylinderGeometry( 0.45, 0.45, 0.1, 32);
        var material = new THREE.MeshPhongMaterial( { color: color, shininess: 100 } );
        var coin = new THREE.Mesh( geometry, material );
        scene.add( coin );
        coin.rotateX(0.5 * Math.PI);
        return coin;
    }

    var board = [[],[],[],[],[],[],[]]

    function add_coin(column, player) {
        if (board[column].length < ROWS) {
            coin = make_coin(player);
            board[column].push(player);
            x = column;
            y = board[column].length - 1;
            position_coin( x, y, coin );
            return true;
        } else {
            return false;
        }
    }

    function add_moves(moves) {
        for ( var i = 0; i < moves.length; i++ ) {
            player = i % 2;
            add_coin(moves[i], player)
        }
    }

    function onMouseMove( event ) {
        event.preventDefault()
        mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
        mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
    }

    function onMouseClick( event ) {
        event.preventDefault();
        mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
        mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
        raycaster.setFromCamera( mouse, camera, 0, 1 );
        var intersects = raycaster.intersectObjects( scene.children );
        if (intersects.length > 0) {
            column = intersects[0].object.column;
            
            turn = moves.length % 2;
            if(user == turn) {
                if(add_coin(column, user)) {
                    moves.push(column);
                    console.log(moves.length)
                    if(moves.length == 7 * 6) {
                        finished = true;
                        alert('Draw!');
                    } else {
                        finished = false;
                    }
                    data = {
                        'moves': moves,
                        'finished': finished,
                    }
                    $.post( "{% url 'connect4:game-data' game_id %}", data, function( response ) {
                    });
                }
            }
        }
    }

    var intersected;
    var render = function () {
        // HACK! if mouse is exactly at 0,0 assume it is acutally off screen
        if ( mouse.x != 0 && mouse.y != 0 ) {
            raycaster.setFromCamera( mouse, camera, 0, 1 );
            var intersects = raycaster.intersectObjects( scene.children );
            if (intersects.length > 0) {
                if ( intersected != intersects[ 0 ].object ) {
                    if ( intersected ) {
                        intersected.material.color.set(intersected.currentColor);
                    }
                    intersected = intersects[ 0 ].object;
                    intersected.currentColor = intersected.material.color.getHex();
                    intersected.material.color.set( GREEN );
                }
            } else {
                if ( intersected ) {
                    intersected.material.color.set(intersected.currentColor);
                }
                intersected = null
            }
        }
        renderer.render( scene, camera );
        requestAnimationFrame( render );
    };

    window.addEventListener( 'mousemove', onMouseMove, false );
    window.addEventListener( 'mousedown', onMouseClick, false );
    render();

    var pollGameData = function () {
        $.get( "{% url 'connect4:game-data' game_id %}", function( response ) { 
            if (moves.length == 0) {
                moves = response.moves;
                user = response.player;
                add_moves(moves);
            } else if (moves.length < response.moves.length) {
                moves = response.moves;
                if ( user == 0 ) {
                    player = 1;
                } else {
                    player = 0;
                }
                add_coin(moves[moves.length - 1], player);
            }
        });
        setTimeout( pollGameData, 3000 );
    }

    $( document ).ready(function() {
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        pollGameData();
    });

</script>
{% endblock %}
